body {
  margin: 0; 
  padding: 0; 
  font-family: sans-serif;
  font-size: 24px;
  color: white;
}

.spacer {
  height: 100vh; 
}

.animated-element {
  width: 300px; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 12, 43);
  border-radius: 8px;
  position: relative;
  left: 400px;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  font-size: .85rem;
  line-height: 1.4em;
  margin-bottom: 0;
}