





/* sets display to flex 
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 30px;
  --bar-height:4px;
  --hamburger-gap: 4px;
  --foreground: #333;
  --background: rgb(0, 0, 0);
  --hamburger-margin: 8px;
  --animation-timing: 300ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 3;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: rgb(255, 255, 255);
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* get rid of hamburger menu 
@media screen and  (min-width: 600px){ 
    .hamburger-menu {
      display: none;
    }
}

@media screen and  (min-width: 600px){
    .hamburger-menu input {
        display: none; 
    }
}


.menu {
    position: fixed; 
    top: 0;
    width: 100vw; 
    transition: translate var(--animation-timing);
    translate: 100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    min-height: 100vh;
    z-index: 2;
  }
  
  .hamburger-menu:has(input:checked) + .menu {
    translate: 0;
  }

.nav-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed;
}

.navbar .contact-btn {
    background-color: #007BFF;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.navbar .contact-btn:hover {
    background-color: #0056b3;
}

*/