/* media screen sizes: 320, 600 */


@font-face {
    font-family: 'PPEditorialOld';
    src: url("/Assets/fonts/pp-editorial_otf/PPEditorialOld-Regular.otf") format("opentype");

}

img {
    object-fit: cover;
}

:root {
    --max-width: 1300px; 
    --padding-small: 20px; 
    --padding-large: 60px; 
    --pink: #EE5DA1; 
    --light-green: #DDF9D1; 
    --background-color: rgb(242, 242, 242); 
    --large-paragraph-font-size: 1.5rem;
    --regular-paragraph-font-size: 1rem;
    --h2-large: 5rem;
}

body, ul {
    padding: 0; 
    margin-top: 0; 
    margin-left: 0; 
    margin-right: 0; 
}

section { 
    margin: 0;
}


.header-content{
    padding: var(--padding-small);
}

section {
    padding: var(--padding-small);
}

@media screen and (min-width: 700px){
    section {
        padding: var(--padding-large); 
    }
}

@media screen and (min-width: 1000px){
    section {
        padding-top: var(--padding-large);
    }
}


.transform_Y {
    transform: translateY(100px);
}

.main-content {
    background-color: var(--background-color);
}




/* TEXT STYLES */

p, a, span, li{
    font-family:  "aktiv-grotesk", sans-serif;
}

p {
    line-height: 2rem;
    font-size: 1rem;
}

.large-text {
    font-size: var(--large-paragraph-font-size);
}

.portfolio-details-wrapper p {
    line-height: 2rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}



ul {
    list-style-position: inside;
    line-height: 2rem;
}

.large-link {
    text-decoration: underline;
    font-size: 1.5rem;

}

.h2-wrapper > h2 {
    font-size: clamp(1rem, 17vw, 12rem); 
    color: var(--pink); 
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 14rem;
}

@media screen and (min-width: 400px){
    .h2-wrapper > h2 {
        font-size: clamp(1rem, 17.6vw, 12rem); 
        color: var(--pink); 
        width: 100%; 
    }
}

@media screen and (min-width: 700px){
    .h2-wrapper > h2 {
        font-size: clamp(1rem, 17vw, 15.4rem); 
        color: var(--pink); 
        width: 100%; 
    }
}


.h2-wrapper {
    max-width: var(--max-width);
    margin: auto;
    width: 100%; 

}
 
h2 {
    font-family:  "PPEditorialOld", sans-serif;
    font-weight: 400;
    font-style: normal; 
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    font-size: var(--h2-large);

}



h3 {
    font-family:  "PPEditorialOld", sans-serif;
    font-size: 2rem; 
    font-weight: 200;
    font-style: normal; 
    line-height: 3rem;
    margin: 0;
    padding-top: .7rem;
    padding-bottom: 5px; 
    max-width: 1000px;

}

h4 {
    font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
    h3 {
        font-size: 3rem; 
        line-height: 3.5rem;
    }
}

span {
    color: rgba(0, 0, 0, 0.621);
}

.header-paragraph {
    color: white; 
    font-size: 1rem;

}


/************** Header ******************************************/ 




/*********** Hero Section ***********/

.centered-image-wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
}

#hero-section {
    background-image: url("/Assets/Landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    /*
    background-position: center bottom;
    animation: zoom 2s forwards; */
}

/*
@keyframes zoom {
    0% {background-size: 100%;}
    100% {background-size: 102%;}
  }
*/

/* Logo image */ 

@media screen and (min-width: 320px){
    #logo-img {
        width: 100%;
        padding-top: 30px; 
    }
}

#logo-img {
    max-width: 1000px;

}



/******* Portfolio section *******/ 
#portfolio {
    
}

.portfolio-piece {
    margin-top: px;
    padding-bottom: 4rem;
    max-width: var(--max-width);
    margin: auto; 
}



.portfolio-piece > p {
    padding-top: .7rem; 
}


@media screen and (min-width: 800px){
    .portfolio-description-wrapper {
        padding-top: 30px;
        padding-bottom: 50px; 
        display: flex; 
        flex-direction: horizontal;
        gap: 40px; 
        max-width: 1000px;
    }

    .portfolio-description-heading-wrapper {
        width: 40%; 
    }

    .portfolio-details-wrapper {
        width: 60%; 
    }
   
}




